.Rbuildignore
*.swp
inst/rstan/*.rds
*.swo
.DS_Store
.Rhistory
notes
.Rproj.user
src/stan_files/*.o
src/stan_files/*.cc
src/stan_files/*.hpp
src/rstanarm.so
src/rstanarm.dll
src/init.o
src/*.o
src/*.so
docs/
inst/doc
vignettes/output_data.RData
doc
Meta
*.tar.gz
*.Rproj
